<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<meta name='generator' content={Astro.generator} />
		<title>Lastro</title>
		<link
			rel='preload'
			href='/Inter.woff2'
			as='font'
			type='font/woff2'
			crossorigin
		/>
		<style is:inline>
			@font-face {
				font-family: 'Inter var';
				font-style: normal;
				font-weight: 100 900;
				font-display: swap;
				src: url('/Inter.woff2') format('woff2');
				font-named-instance: 'Regular';
			}
		</style>
	</head>
	<body>
		<h1 class='px-4 text-gray-500'>Hello!</h1>
	</body>
</html>
