---
import { Font } from 'astro:assets'
import '../global.css'
---

<!doctype html>
<html lang='en'>
	<head>
		<Font cssVariable='--font-inter' preload />
		<meta charset='UTF-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<meta name='generator' content={Astro.generator} />
		<meta name='description' content='Lastro' />
		<title>Lastro</title>
	</head>
	<body>
		<slot />
	</body>
</html>
